// Navbar Section
.navbar {
  font-size: 14px;
  margin-bottom: 0px;
  #buynow {
    background-color: $button-color;
    border-color: darken($button-color, 1.5%);
    border-radius: 14px;
    border-width: 2px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
}
.navbar-brand {
  img {
    height: 30px;
  }
}

// Showcase Section

.showcase {
  background: url(../img/baby_dark.png) no-repeat;
  font-family: 'Raleway', sans-serif;
  height: 575px;
  color: #fff;
    h1 {
      font-size: 40px;
      font-weight: 400;
      padding-top: 50px;
      color: #c5e6de;
    }
    p {
      font-weight: 200;
      padding-bottom: 5px;
      font-size: 16px;
    }
    .btn{
      border-radius: 5px;
      background: transparent;
      border-color: #e9e9e9;
      padding: 1px 1px;
      color: #8dcdbf;
      font-size: 60px;
      border-color: transparent;;
    }
}

// Clinical Section

.clinical-section {
  margin-top:7px;
  .clinical-content {
    background: #929497;
    height:375px;
    h3 {
      color: #c5e6de;
      font-weight: 200;
    }
    p {
      color: #fff;
      font-weight: 200;
      letter-spacing: 1px;
      line-height: 15px;
    }
  }
  .clinical-image {
    background: ghostwhite;
    padding-right: 0px;
    padding-left: 0px;
  }
  img {
    height: 375px;

  }
}



// Footer Section
.footer {
  background-color: #b3b3b3;
  height: 150px;
}
