@media screen and (max-width: 320px) {
  .info-section .clinical-image {
    display: none;
  }
  .info-section .vitals-content-left,.vitals-content-right {
    padding-top: 55px;
  }
  .info-section .row .clinical-content{
    padding-top: 21px;
  }
  .data-content{
    padding-top: 0;
    padding-bottom: 40px;
  }
  .testimonials-section {
    padding-top: 70px;
  }
}

@media screen and (min-width: 768px) {
  .info-section .row .clinical-content{
    padding-top: 60px;
  }
  .info-section .vitals-content-left,.vitals-content-right  {
    padding-top: 65px;
  }
  .data-content  {
    padding-bottom: 30px;
  }
  .testimonials-section {
    padding-top: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .info-section .row .clinical-content{
    padding-top: 80px;
  }
  .info-section .vitals-content-left,.vitals-content-right  {
    padding-top: 85px;
  }
  .info-section .vitals-content-left,.vitals-content-right  {
    padding-top: 85px;
  }
}

@media screen and (min-width: 1440px) {
  .info-section .row .clinical-content{
    padding-top: 110px;
  }
  .info-section .vitals-content-left,.vitals-content-right  {
    padding-top: 95px;
  }
  .info-section .vitals-content-left,.vitals-content-right  {
    padding-top: 95px;
  }
  .data-content {
    padding-top: 200px;
  }
}

// ===Navbar Section
.navbar {
  font-size: 14px;
  margin-bottom: 0;
  border-color: transparent;
  #buynow {
    background-color: $button-color;
    border-color: darken($button-color, 1.5%);
    border-radius: 10px;
    border-width: 2px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
}
.navbar-brand {
  height: 70px;
  padding-top: 21px;
  img {
    height: 27px;
  }
}

// ===Showcase Section

.showcase {
  background: url(../img/baby_dark.png) no-repeat;
  font-family: 'Raleway', sans-serif;
  height: 575px;
  color: #fff;
    h1 {
      font-size: 40px;
      font-weight: 400;
      padding-top: 50px;
      color: #c5e6de;
    }
    p {
      font-weight: 200;
      padding-bottom: 5px;
      font-size: 16px;
    }
    .btn{
      border-radius: 5px;
      background: transparent;
      padding: 1px 1px;
      color: #8dcdbf;
      font-size: 60px;
      border-color: transparent;
    }
}

// ===Featured Section

.feature-section {
  margin-top: 7px;
  background: #f7f7f5;
  color: #cccccc;
  h4 {
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 2px;
  }
  img {
    padding-bottom: 30px;
    height: 85px;
    margin: 0 auto;
  }
}

// ===Info Section

.info-section {
  margin-top:7px;

  // =Info Section TOP ROW

  .clinical-content {
    background: #929497;
    height:375px;
    padding-top: 110px;

    h2 {
      color: #c5e6de;
      font-weight: 300;
    }
    p {
      color: #fff;
      font-weight: 300;
      letter-spacing: 1.50px;
      line-height: 18px;
    }
    .row {
      margin: auto 70px;
    }
  }
  .clinical-image {
    padding-right: 0;
    padding-left: 0;
  }
  img {
    height: 375px;
  }

  // =Info Section BOTTOM ROW
  .bottom {
    padding-bottom: 7px;
    margin-top: 7px;
    h3 {
      font-weight: 300;
    }
    p {
      font-weight: 300;
      letter-spacing: 1.50px;
      line-height: 18px;
    }
  }

  .vitals-content-left{
    background: #aeddd4;
    color: #fff;
    height: 375px;
    .row {
      margin: auto 70px;
    }
    img {
      width: 40px;
      height: 35px;
    }

  }
  .vitals-content-right {
    background: #96d4c7;
    color: #fff;
    height: 375px;
    .row {
      margin: auto 70px;
    }
    img {
      width: 40px;
      height: 44px;
    }
  }

}

// ===Product Section

.product-section {
  background: #f7f7f5;
  .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
  }
  h1 {
    font-weight: 300;
    color: #cccccc;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  h4 {
    color: #ccc;
    font-weight: 400;
  }
  h4:nth-child(3){
    padding-top: 30px;
    padding-bottom: 50px;
    font-weight: 500;
    a {
      color: #ccc;
    }
  }
  p {
    color: #6d6e70;
  }
}
.thumbnail {
  position: relative;
  background: #c7e6df;
  padding: 0;
  border: 0;
  height: 375px;

  img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .sock-img {
    padding-top: 15%;
    width: 160px;
  }
  .base-img {
    width: 180px;
    padding-top: 17%;
  }
  .phone-img {
    padding-top: 50px;
    width: 150px;
  }
  h4 {
    font-weight: 400;
  }
  .caption {
    background: #fff;
    font-weight: 400;
    padding: 18px 25px 20px 25px;
    bottom: 0;
    position: absolute;
  }
}

// ===Data Section
.data-section {
  background: #929497;
  color: #fff;
  margin-top: 7px;
}
.data-content {
  h1 {
    font-weight: 300;
    letter-spacing: 1.50px;
  }
  p {
    font-weight: 300;
    letter-spacing: 1.50px;
    line-height: 18px;
  }
  .row {
    margin: auto 20px;
  }
}

// ===Testimonials Section
.testimonials-section {
  margin-top: 7px;
  padding-bottom: 7px;
  background-image: url("../img/babyandmom.png");
  background-repeat: no-repeat;
  height: 500px;
  color: #fff;
  h1 {
    font-weight: 300;
  }
  button {
    margin-top: 30px;
    background-color: $button-color;
    border-color: darken($button-color, 1.5%);
    border-radius: 10px;
    border-width: 2px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
}

// ===SignUp Section
.signup-section {
  background: #f7f7f5;
  height:300px;
  margin-bottom: 7px;
  margin-top: 7px;
  padding-top: 80px;
  h5 {
    color: #8cccbf;
    font-weight: 400;
    padding-bottom: 20px;
  }
  span {
    border-radius: 8px;
    color: #fff;
    padding: 0 25px;
    background-color: #96d4c7;
    border: transparent;
  }
}

// ===Footer Section
.footer {
  background-color: #929497;
  height: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #fff;
  footer
  h5 {
    margin-top: 0;
    color: #8cccbf;
  }
  ul {
    padding-top: 10px;
    list-style-type: none;
  }
  .address-block {
    font-weight: 300;
    address {
      letter-spacing: 1.5px;
      font-weight: 200;
      font-size: 12px;
    }
  }
  .footer-logo {
  }
}
